%td[list]
  .list_title{:style => "background-color: ##{list.color};"}
    %h3= list.title
    .picker
    = link_to 'delete list', list, :method => :delete, :confirm => "Are you sure you want to delete #{list.title}?", :class => 'delete', :tabindex => "-1"
  = form_for [list, Task.new], :remote => true, :html => { :class => 'newtask', :id => "new_task_#{list.id}" } do |form|
    = form.text_field :title, :id => "new_task_title_#{list.id}", :autocomplete => "off", :maxlength => "500"
  %ul
    = render list.tasks
  = link_to 'view all', list_path(list), :class => "archive_link", :tabindex => "-1"
