%td[list_proxy.list]
  .list_title{:"data-background-color" => list_proxy.color, :style => "background-color: ##{list_proxy.color};"}
    %h3= list_proxy.title
    .icons{:"data-background-color" => list_proxy.color, :style => "background-color: ##{list_proxy.color};"}
    - if list_proxy.owned_by?(current_user)
      = link_to 'share', '#', :class => "share_link"
      = render 'shared/sharing', :list => list_proxy.list
    .picker
    = link_to 'delete list', list_proxy_path(:list_id => list_proxy.list_id), :method => :delete, :confirm => "Are you sure you want to delete #{list_proxy.title}?", :class => 'delete', :tabindex => "-1"
  = form_for [list_proxy.list, Task.new], :remote => true, :html => { :class => 'newtask', :id => "new_task_#{list_proxy.list_id}" } do |form|
    = form.text_field :title, :id => "new_task_title_#{list_proxy.list_id}", :autocomplete => "off", :maxlength => "500"
  %ul.tasks
    = render list_proxy.tasks.filtered(filter).by_position
  = link_to 'view all', list_archive_path(:list_id => list_proxy.list_id), :class => "archive_link", :tabindex => "-1"
