#page
  #content.form
    = render "logo"
    %h2 Reset your password
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      %label.input{:for => "email"}
        %span Email Address
        = f.text_field :email
      = f.submit "Reset"
= render :partial => "devise/shared/links"
