#page
  #content.form
    = render "logo"
    %h2 Sign up
    .info
      %p Listwerk is free for up to 3 active lists. Unlimited lists costs $25 per year, and you may upgrade at any time.
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.hidden_field :timezone
      %label.input{:for => "email"}
        = f.text_field :email, placeholder: "Email Address"
      %label.input{:for => "password"} 
        = f.password_field :password, placeholder: "Password"
      %label.input{:for => "password_confirmation"} 
        %span Password confirmation
        = f.password_field :password_confirmation
      = f.submit "Sign up"
= render :partial => "devise/shared/links"
= render "footer"
- content_for :javascripts do
  :javascript
    $(function() {
      var timezone = jstz.determine_timezone();
      $("#user_timezone").val(timezone.name());
    });
