#page
  #content.form
    %h1
      = link_to image_tag('logo-large.png'), root_url
    %h2 Sign up
    .info
      %p Listwerk is free for up to 3 active lists. Unlimited lists costs $3/month, and you may upgrade at any time.
      /%p For the best experience, we recommend using listwerk with a modern browser, including the latest versions of Chrome, Safari, and Firefox.
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.hidden_field :timezone
      %label.input{:for => "email"}
        %span Email Address
        = f.text_field :email
      %label.input{:for => "password"} 
        %span Password
        = f.password_field :password
      %label.input{:for => "password_confirmation"} 
        %span Password confirmation
        = f.password_field :password_confirmation
      = f.submit "Sign up"
= render :partial => "devise/shared/links"
- content_for :javascripts do
  :javascript
    $(function() {
      var timezone = jstz.determine_timezone();
      $("#user_timezone").val(timezone.name());
    });
