.share
  = form_for(:share, :url => list_share_path(list), :method => :post, :remote => true, :html => { :class => "share_form"}) do |form|
    .input
      %span Enter an email address
      = form.text_field :email
  %ul.shared_users
    - list.shared_users.each do |user|
      %li[user, "list_#{list.id}"]
        = user.email
        = link_to 'remove', list_share_path(list, :email => user.email), :remote => true, :method => :delete, :class => 'remove'
