#page.clearfix
  #content
    = render :partial => "shared/logo"
    %p
      A todo list that requires less energy than your todos. Manage all your lists in a single window with speed, simplicity, and happy colors. Use it for tasks, todos, stuff, things, and anything else you tend to forget. 3 lists for free. Unlimited lists for $5/month.
      %br
      = link_to 'Sign up', new_user_registration_path, :class => "signup" 
    %a#demo{:href => "#demo_video"} Watch the demo   
    = render :partial => "shared/quicktime"
.links
  %p#sign_in 
    Already have an account?
    %a{:href => ""} Sign in
  #login      
    = form_for :user, :url => new_user_session_path do |f|
      %label.input{:for => "email"}
        %span Email Address
        = f.text_field :email
      %label.input{:for => "password"} 
        %span Password
        = f.password_field :password
      = f.submit "Sign In"
    %p
      Forgot password?
      = link_to "Reset it.", 'users/password/new'
    
