#page.clearfix
  #content
    %h1
      = link_to image_tag('logo-large.png'), root_url
    %h2 
      Organize with color.
    %p
      Spend more time <b>doing</b> things and less time <b>managing</b> them. Use Listwerk for tasks, todos, actions, stuff, and anything else you might forget. 3 lists are free. Unlimited lists are $25 per year.
      %br
      = link_to 'Sign up', new_user_registration_path, :class => "signup" 
    / %a#demo{:href => "#demo_video"} Watch the demo   
    / = render :partial => "shared/quicktime"
- unless signed_in?
  .links
    #login
      = form_for :user, :url => new_user_session_path do |f|
        %label.input{:for => "email"}
          %span Email Address
          = f.text_field :email
        %label.input{:for => "password"}
          %span Password
          = f.password_field :password
        = f.submit "Sign In"
      %p
        Forgot password?
        = link_to "Reset it.", 'users/password/new'
  = render "footer"

