#page.clearfix
  #content
    %h1
      = link_to image_tag('logo-large.png'), root_url
    %h2 
      Make lists with speed, power, and happy colors.
    %p
      Listwerk is a todo list app that demands less energy than your todos. Use it for tasks, todos, stuff, and anything else you tend to forget. 3 lists are free. Unlimited lists are $12/year.
      %br
      = link_to 'Sign up', new_user_registration_path, :class => "signup" 
    / %a#demo{:href => "#demo_video"} Watch the demo   
    / = render :partial => "shared/quicktime"
.links
  %p#sign_in 
    Already have an account?
    %a{:href => ""} Sign in
  #login      
    = form_for :user, :url => new_user_session_path do |f|
      %label.input{:for => "email"}
        %span Email Address
        = f.text_field :email
      %label.input{:for => "password"} 
        %span Password
        = f.password_field :password
      = f.submit "Sign In"
    %p
      Forgot password?
      = link_to "Reset it.", 'users/password/new'
    
