#page
  #content.form
    %h1
      = link_to image_tag('logo-large.png'), root_url
    %h2 Sign in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %label.input{:for => "email"}
        %span Email Address
        = f.text_field :email
      %label.input{:for => "password"} 
        %span Password
        = f.password_field :password
      - if devise_mapping.rememberable?
        .checkbox.remember
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "Sign in"
= render :partial => "devise/shared/links"
