<div id="header">
  <h1>SeeTask</h1>
  <%= form_for @list do |form| %>
    <%= form.text_field :title, :placeholder => 'New List' %>
  <% end %>
  <ul id="util">
    <li><a href="">Help</a></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
    <li>Benjamin Lehn</li>
  </ul>
</div>
<table cellpadding="0" cellspacing="0">
  <tr>

    <td class="list upcoming">
      <h3><span>Upcoming</span></h3>
      <ul>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit Lorem ipsum dolor sit amet</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
        <li><span class="date">10/8</span>Lorem Ipsum Dolor Sit</li>
      </ul>

    </td>
    <% @lists.each do |list| %>
      <%= content_tag_for(:td, list) do %>
        <h3><span><%= list.title %></span></h3>
        <%= form_for([list, list.tasks.build], :html => { :id => "new_task_#{list.id}" }) do |form| %>
          <%= form.text_field :title %>
        <% end %>
        <% unless list.tasks.empty? %>
          <ul>
            <% list.tasks.each do |task| %>
              <li><%= task.title %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </tr>
</table>
