#header
  %h1 Taskwerk
  = form_for @list do |form|
    = form.text_field :title, :placeholder => 'New List'
  %ul#util
    %li
      %a{:href => ""} Help
    %li= link_to 'Sign Out', destroy_user_session_path
    %li.username Benjamin Lehn
#container
  %table{:cellpadding => "0", :cellspacing => "0"}
    %tr
      %td.list.upcoming
        .list_title
          %h3 Upcoming
        %ul#upcoming_tasks
          - @upcoming_tasks.each do |task|
            = content_tag_for(:li, task, :upcoming, :class => (task.completed ? 'completed' : nil)) do
              %span.date= task.due_date.strftime("%m/%d")
              = task.title
      - @lists.each do |list|
        %td[list]
          .list_title{:style => "background-color: ##{"%06x" % (rand * 0xffffff)};"}
            .picker choose color
            %h3= list.title
          = form_for [list, Task.new], :html => { :class => 'newtask', :id => "new_task_#{list.id}" } do |form|
            = form.text_field :title
          - unless list.tasks.empty?
            %ul
              - list.tasks.each do |task|
                = content_tag_for(:li, task, :class => (task.completed ? 'completed' : nil)) do
                  - if task.due_date?
                    %span.date= task.due_date.strftime("%m/%d")
                  = task.title
