#header
  %h1
    = link_to image_tag('logo-small.png'), root_url
  = form_for @list, :remote => true do |form|
    %label.input{:for => "title"}
      %span New List
      = form.text_field :title
  %ul#util
    %li
      %a{:href => "pages/help", :tabindex => "-1"} Help
    %li= link_to 'Sign Out', destroy_user_session_path, :tabindex => "-1"
    %li.username= link_to current_user.email, edit_user_registration_path, :tabindex => "-1"
#container
  %table{:cellpadding => "0", :cellspacing => "0"}
    %tr
      - unless @upcoming_tasks.empty?
        %td.list.upcoming
          .list_title
            %h3 Upcoming
            .today #{Time.now.strftime("%m/%d")}
          %ul.tasks#upcoming_tasks
            - @upcoming_tasks.each do |task|
              = content_tag_for(:li, task, :upcoming, :"data-edit-title" => task.title, :"data-list" => task.list_id, :class => (task.completed ? 'completed' : nil)) do
                %span.task_title
                  %span.date{:"data-full-date" => task.due_date.strftime("%y/%m/%d"), :style => "color: ##{task.list_color_for(current_user)}"}
                    = task.due_date.strftime("%m/%d")
                  = task.display_title
      = render @list_proxies, :filter => :current
