#header
  %h1
    = link_to 'lllllist', root_url
  %ul#util
    %li
      %a{:href => "pages/help", :tabindex => "-1"} Help
    %li= link_to 'Sign Out', destroy_user_session_path, :tabindex => "-1"
    %li.username= link_to current_user.email, edit_user_registration_path, :tabindex => "-1"
#container
  %table{:cellpadding => "0", :cellspacing => "0"}
    %tr
      %td[list]
        .list_title{:style => "background-color: ##{"%06x" % (rand * 0xffffff)};"}
          %h3= list.title
          .picker choose color
          = link_to 'delete list', list, :method => :delete, :confirm => "Are you sure you want to delete #{list.title}?", :class => 'delete', :tabindex => "-1"
        = form_for [list, Task.new], :html => { :class => 'newtask', :id => "new_task_#{list.id}" } do |form|
          = form.text_field :title, :id => "new_task_title_#{list.id}", :autocomplete => "off"
        - unless list.tasks.empty?
          %ul
            - list.tasks.each do |task|
              = content_tag_for(:li, task, :class => (task.completed ? 'completed' : nil)) do
                - if task.due_date?
                  %span.date= task.due_date.strftime("%m/%d")
                %span.task_title= task.title

