<h2>Users</h2>
<ul>
  <li>Total users: <%= @user_count %></li>
  <li>Total paid users: <%= @paid_count %></li>
  <li>Total permanent: <%= @permanent_count %></li>
  <li>Total free users: <%= @free_count %></li>
</ul>

<h2>Lists</h2>
<ul>
  <li>Total lists: <%= @list_count %></li>
  <li>Total proxies: <%= @proxy_count %></li>
</ul>
