<!DOCTYPE html>
<html>
<head>
  <title>llllst</title>
  <%= stylesheet_link_tag :all %>
  <%= render 'shared/javascripts' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">
  <%= render 'shared/flashes' %>
  <%= yield %>

</body>
</html>
