!!!
%html
  %head
    %link{:rel => "apple-touch-icon-precomposed"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:content => "width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;", :name => "viewport"}
    %title Listwerk
    = stylesheet_link_tag 'application', :media => "screen, print"
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
    = csrf_meta_tag
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'shared/flashes'
    = yield
    = render 'shared/javascripts'
