<!DOCTYPE html>
<html>
<head>
  <title>Taskwerk</title>
  <%= stylesheet_link_tag :all %>
  <%= render 'shared/javascripts' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'shared/flashes' %>
  <%= yield %>

</body>
</html>
