!!!
%html
  %head
    %link{:rel => "apple-touch-icon-precomposed"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:content => "width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;", :name => "viewport"}
    %title Listwerk
    = stylesheet_link_tag 'application', :media => "screen, print"
    = csrf_meta_tag
  %body{:class => "#{controller_name} #{action_name}"}
    - if signed_in?
      Welcome #{current_user.email}
      = link_to "Sign out", destroy_user_session_path
    - else
      = link_to "Sign in", new_user_session_path
    #content
      = yield
