#header
  %h1
    = link_to image_tag('logo-small.png'), root_url
  = render "topbar"
#page.interior
  #content.form.prefs
    = link_to "Back", dashboard_path, :class => "back"
    - if current_user.errors.any?
      %p There was an error
      - current_user.errors.full_messages.each do |error|
        .error= error
    %h2 Edit Your Account
    = form_for(current_user, :url => account_path) do |form|
      %label.input{:for => "email"}
        %span Email Address
        = form.text_field :email
      / %i (leave blank if you don't want to change it)
      %label.input{:for => "password"}
        %span New Password
        = form.password_field :password
      %label.input{:for => "password_confirmation"}
        %span New Password confirmation
        = form.password_field :password_confirmation
      %label.select{:for => "timezone"}
        %span Time zone
        = form.select :timezone, time_zone_options_for_select(current_user.timezone)
      = form.submit "Update"

    = render "accounts/#{current_user.status}"
