#header
  %h1
    = link_to image_tag('logo-small.png'), root_url
  = render "topbar"
#page.interior
  #content.form.prefs
    = link_to "Back", dashboard_path, :class => "back"
    - if current_user.errors.any?
      %p There was an error
      - current_user.errors.full_messages.each do |error|
        .error= error
    - if current_user.discounts.any?
      %h3 Credits
      %div Available credit: #{Money.new(current_user.available_credit)}
      %div Lifetime earned: #{Money.new(current_user.lifetime_credit)}
    %h3 Edit Your Account
    = form_for(current_user, :url => account_path) do |form|
      %label.input{:for => "email"}
        = form.text_field :email, placeholder: "Email Address"
      %label.input{:for => "password"}
        = form.password_field :password, placeholder: "New Password"
      %label.input{:for => "password_confirmation"}
        = form.password_field :password_confirmation, placeholder: "New Password confirmation"
      %label.select{:for => "timezone"}
        %span Time zone
        = form.select :timezone, time_zone_options_for_select(current_user.timezone)
      = form.submit "Update"

    = render "accounts/#{current_user.status}"

- content_for :javascripts do
  = javascript_include_tag "subscriptions"
